/* universal selector, sets properties for entire page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets background color for all elements within body */
body {
    background-color: #d9dcd6;
}

/* sets properties for header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets properties for h1 */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets properties for the header nav container containing the nav and list */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* sets properties for the unordered list within the nav container */
header nav ul {
    list-style-type: none;
}

/* sets properties for the items in the ordered list within the nav container */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* sets properties for the anchor links within the list items*/
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* sets properties for the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

/* sets properties for the content class in the main section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* sets properties for the sections within the content class */
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets properties for the h2 elements within content class*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets properties for the p elements within the content class*/
.content p {
    font-size: 16px;
}

/* sets properties for the img elements within the content class*/
.content img{
    max-height: 200px;
}

/* sets properties for images with float-left class within content class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets properties for images with float-right class within content class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets properties for all elements in the aside section within benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets properties for h3 elements within benefits class */
.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

/* sets properties for section elements within benefits class */
.benefits section{
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets properties for the images within benefits class */
.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/* sets the color of element with the seo id */
#seo {
    color: #d9dcd6;
}

/* sets the height, width, and margin for the image with the hero id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* sets the font size for the footer id */
#footer {
    font-size: 20px;
}
